<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--spring除了controller不要，其他的dao、service都要-->
    <context:component-scan base-package="com.hl.service">
        <!--扫描排除不写user-default-filters=“false”-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--导入外部的配置文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
    </bean>

    <!--配置使用mybatis操作数据库-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        <property name="configLocation" value=""/>-->
        <property name="dataSource" ref="dataSource"/>
<!--        <property name="mapperLocations" value=""/>-->
        <!--配置分页插件-->
        <property name="plugins">
            <array>
                <!--传入插件对象-->
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <prop key="helperDialect">mysql</prop>
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!--把每一个dao接口的实现加入到ioc容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hl.dao"/>
    </bean>

    <!--配置事务控制：配置事务管理器，让他控制住数据源里面的关闭和提交-->
    <bean id="manager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--基于xml配置，配置事务，哪些方面切入事务还要写切入点表达式-->
    <aop:config>
        <aop:pointcut id="txPoint" expression="execution(* com.hl.service..*(..))"/>
    </aop:config>

    <!--配置事务曾倩个，事务属性，事务建议-->
    <tx:advice id="transactionInterceptor" transaction-manager="manager">
        <!--配置事务属性-->
        <tx:attributes>
            <tx:method name="*" rollback-for="java.lang.Exception"/>
            <tx:method name="get" read-only="true"/>
            <tx:method name="insert" isolation = "READ_UNCOMMITTED"/>
        </tx:attributes>
    </tx:advice>
</beans>